@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fa7da3;
}

a {
    color: #fa7da3;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

/* コンテナ */
.container {
    padding-inline: 1rem;
}

@media(min-width: 768px) {
    .container {
        max-width: 64.0625rem;
        margin: 0 auto;
    }
}

/* 部品 */

/* font */
.outfit {
    font-family: "Outfit", sans-serif;
}

.flex {
    display: flex;
}

/* section */

.section__title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px) {
    .section__title {
        font-size: 2.25rem;
    }
}

.section__maintitle {
    display: flex;
    justify-content: center;
    padding-top: .2rem;
    padding-left: .1rem;
    font-size: 1.125rem;
    color: #333;
}

@media (min-width: 768px) {
    .section__maintitle {
        font-size: 1.1294rem;
    }
}

.section__subtitle {
    display: flex;
    justify-content: center;
    padding-top: .4rem;
    letter-spacing: .036em;
    font-size: 2rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .section__subtitle {
        padding-top: .4rem;
        font-size: 2.625rem;
    }
}

@media (min-width: 768px) {
    .section__subtitle img {
        width: 3rem;
    }
}

@media(min-width:768px) {
    .section__bottom-flex {
        padding: 0 1rem;
    }
}

.section__bottom {
    max-width: 24.375rem;
    margin: 0 auto;
    padding-inline: 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: .6rem;
    padding-top: .7rem;
}

@media (min-width: 768px) {
    .section__bottom {
        max-width: 40rem;
        margin: 0 auto;
        padding-inline: 2.2rem;
        display: flex;
        column-gap: 3rem;
        justify-content: center;
        align-items: center;
    }
}

.section__bottom-title {
    padding-left: .5rem;
    letter-spacing: .1em;
    font-size: 1.3125rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .section__bottom-title {
        padding-left: .8rem;
        padding-bottom: .35rem;
        font-size: 2.125rem;
    }
}

.section__button-bottom {
    padding-top: .9rem;
    padding-inline: 1.2rem;
}

@media (min-width: 768px) {
    .section__button-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 38rem;
        margin: 0 auto;
        padding-top: 2.9rem;
    }
}

.section__bottom-maintext {
    text-align: center;
    font-size: 1.0625rem;
    letter-spacing: .1em;
    color: #50bfff;
    border-top: 1px solid #50bfff;
    border-bottom: 1px solid #50bfff;
    padding: .4rem 0;
}

@media (min-width: 768px) {
    .section__bottom-maintext {
        font-size: 1.75rem;
        padding-top: .6rem;
        padding-bottom: .9rem;
    }
}

.section__bottom-subtext {
    font-size: .875rem;
    color: #333;
    line-height: 1.65;
    padding-top: .7rem;
    padding-left: .1rem;
}

@media (min-width: 768px) {
    .section__bottom-subtext {
        padding-top: 1.1rem;
        padding-left: 0;
        letter-spacing: -.012em;
        font-size: 1.4287rem;
    }
}

.section__bottom-small {
    font-size: .6875rem;
}

@media (min-width: 768px) {
    .section__bottom-small {
        font-size: 1.1225rem;
    }
}

/* button */

.button__flex {
    display: flex;
    border-radius: 2.5rem;
    padding: .68rem .5rem;
    padding-bottom: .8rem;
    background-color: #49c43d;
}

@media (min-width: 768px) {
    .button__flex {
        padding: 1.3rem 2.7rem;
        border-radius: 4rem;
    }
}

@media (min-width: 768px) {
    .button__flex:hover {
        background-color: #40e02f;
    }
}

.button {
    font-size: 1.3125rem;
    color: #fff;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.3;
    margin-top: .1rem;
    margin-left: 3.5rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .button {
        font-size: 2.125rem;
        border-radius: 2.375rem;
        margin-top: 0rem;
    }
}

.button__flex i {
    color: #fff;
    font-size: 1.5rem;
    padding-top: .7rem;
    padding-right: 1.3rem;
}

@media (min-width: 768px) {
    .button__flex i {
        font-size: 2.2rem;
        padding-top: 1.05rem;
        padding-left: .3rem;
        padding-right: 0;
    }
}

.button__pink {
    background-color: #fa7da3;
    font-size: .75rem;
}

.button__green {
    padding: .99rem 7.1rem;
    margin-top: .24rem;
    background-color: #40e02f;
    font-size: .75rem;
}

/* カルーセルのスタイル */

.slick-dots {
    bottom: -1.95rem;
    left: -.15rem;
    display: flex;
    column-gap: .9rem;
    justify-content: center;
}

@media (min-width :768px) {
    .slick-dots {
        bottom: -2.24rem;
    }
}

.slick-dots li {
    width: 1rem;
    height: 1rem;
    margin: 0;
}

.slick-dots li button:before {
    font-size: .7rem;
}

.voices .slick-dots li button:before {
    font-size: 1.25rem;
    opacity: .35;
    color: #f59ab0;
}

.voices .slick-dots li.slick-active button:before {
    opacity: 1;
}

.slick-track,
.slick-list {
    display: block;
}

/* header */

.header {
    width: 100%;
    z-index: 10;
    position: relative;
    position: fixed;
    padding-inline: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .header {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header__inner {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1.2rem;
        padding-bottom: 1.1rem;
    }
}

.header__logo {
    padding-top: .3rem;
    padding-right: .1rem;
    width: 4.7rem;
}

@media (min-width: 768px) {
    .header__logo {
        letter-spacing: 0;
        padding: 0;
        margin: 0;
        padding-left: 14.2vw;
        width: 21vw;
    }
}

.button__header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .9rem;
}

@media (min-width: 768px) {
    .button__header-flex {
        padding-right: 13.7vw;
        gap: 1.5rem;
    }
}

.header__button {
    margin-top: .5rem;
    color: #fff;
    border-radius: 2.0625rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .header__button {
        margin: 0;
    }
}

.header__button.button__pink {
    padding: .4rem .2rem .5rem .8rem;
    margin-left: .5rem;
    white-space: nowrap;
    font-size: .75rem;
}

@media (min-width: 768px) {
    .header__button.button__pink {
        padding: .65rem 0rem .65rem 1.6rem;
        font-size: 1.3125rem;
    }
}

.header__button.button__pink i {
    padding-left: .2rem;
}

@media (min-width: 768px) {
    .header__button.button__pink i {
        padding-right: .7rem;
    }
}

.header__button.button__green {
    padding: .4rem .5rem .45rem .7rem;
    letter-spacing: .03em;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .header__button.button__green {
        padding: .6rem .96rem .7rem 1.4rem;
        letter-spacing: 0em;
        margin: 0;
        font-size: 1.3125rem;
    }
}

.header__button.button__green i {
    padding-left: .1rem;
}


@media (min-width: 768px) {
    .header__button.button__green i {
        padding-left: 0;
        padding-right: 0;
    }
}

.button__green-sub {
    font-size: .625rem;
}

@media (min-width: 768px) {
    .button__green-sub {
        font-size: 1.1169rem;
    }
}

/* mainvsiual */

.cover {
    position: relative;
    padding-top: 3.7rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cover {
        padding-top: 3rem;
    }
}

.cover__topcontent {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.95rem;
}

@media (min-width: 768px) {
    .cover__topcontent {
        padding-bottom: 0;
    }
}

.cover__topcontent img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: bottom left;
    object-fit: cover;
}

@media (min-width: 768px) {
    .cover__topcontent img {
        position: absolute;
        object-fit: cover;
        height: auto;
        min-height: 100%;
        object-position: top;
        padding-top: 2.6rem;
    }
}

@media (min-width: 768px) {
    .cover__toptext {
        max-width: 63rem;
        margin: 0 auto;
    }
}

.cover__text {
    width: 100%;
    position: relative;
    display: flex;
}

.cover__text-leftflex {
    width: 52%;
}

@media (min-width: 768px) {
    .cover__text-leftflex {
        width: 54%;
        display: flex;
        justify-content: flex-end;
    }
}

.cover__text-left {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

@media (min-width: 768px) {
    .cover__text-left {
        text-align: center;
    }
}

.cover__maintext {
    padding-top: .6rem;
    font-size: 2.625rem;
    position: relative;
}

@media (min-width: 768px) {
    .cover__maintext {
        white-space: nowrap;
        top: 19%;
        right: 4.3%;
        line-height: 1;
        font-size: 4rem;
    }
}

@media (min-width: 980px) {
    .cover__maintext {
        font-size: 7.6344rem;
    }
}

@media (min-width: 768px) {
    .cover__shadow {
        position: relative;
        display: inline-block;
        color: #fff;
        z-index: 1;
    }
}

@media (min-width: 768px) {
    .cover__shadow::before {
        content: attr(data-text);
        position: absolute;
        font-weight: 900;
        inset: 0;
        color: #fa7da3;
        filter: blur(.625rem);
        transform: translate(.625rem, .625rem);
        opacity: .95;
        z-index: -1;
    }
}

.cover__subtext {
    position: relative;
    line-height: 1;
    left: .8%;
    font-size: 1.125rem;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .cover__subtext {
        text-align: right;
        line-height: 1;
        top: 24.7%;
        left: 2%;
        font-size: 2.25rem;
    }
}

.cover__text-rightflex {
    width: 48%;
}

@media (min-width: 768px) {
    .cover__text-rightflex {
        width: 46%;
        padding-inline: 1.2rem;
    }
}

.cover__text-right {
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .3);
    flex-direction: row;
    column-gap: .65rem;
    padding-bottom: 1.35rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15)
}

@media (min-width: 768px) {
    .cover__text-right {
        padding-left: 1.9rem;
        padding-bottom: 2.45rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .15)
    }
}

.cover__text-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    padding-top: 1.55rem;
    padding-left: .2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cover__text-month {
        padding-top: 5.5rem;
        padding-right: .8rem;
        gap: .4rem;
    }
}

.cover__text-monthtop {
    font-size: .8125rem;
    padding: 0 .25rem .25rem .25rem;
    background-color: #fff;
    color: #fa7da3;
}

@media (min-width: 768px) {
    .cover__text-monthtop {
        padding: .2rem .5rem .4rem .6rem;
        font-size: 1.8281rem;
    }
}

.cover__text-monthbottom {
    font-size: 1.5rem;
    padding-left: .1rem;
    color: #fff;

}

@media (min-width: 768px) {
    .cover__text-monthbottom {
        font-size: 3.375rem;
        padding-left: .3rem;
    }
}

.cover__text-fee {
    display: flex;
    line-height: 1;
    padding-top: .5rem;
    color: #fffd7a;
    font-size: 4.75rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cover__text-fee {
        font-size: 5rem;
        padding-top: 3.5rem;
        padding-right: 1.8rem;
    }
}

@media (min-width: 980px) {
    .cover__text-fee {
        font-size: 10.6875rem;
    }
}

.cover__text-money {
    font-size: 2.25rem;
    color: #fffd7a;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cover__text-money {
        font-size: 3rem;
    }
}

@media (min-width: 980px) {
    .cover__text-money {
        font-size: 5.0625rem;
    }
}

.cover__text-rightbottom {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    top: 5%;
    right: 13.5%;
    font-size: .875rem;
}

@media (min-width: 768px) {
    .cover__text-rightbottom {
        top: 2%;
        right: 14.7%;
    }
}

.cover__montly-fee {
    font-size: .875rem;
}

@media (min-width: 768px) {
    .cover__montly-fee {
        font-size: 1.655rem;
    }
}

.cover__montly-feetext {
    font-size: .5625rem;
}

@media (min-width: 768px) {
    .cover__montly-feetext {
        font-size: 1.0637rem;
    }
}

.cover__bottombenefit {
    position: relative;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.85rem;
    padding-right: 1.6rem;
}

@media (min-width: 768px) {
    .cover__bottombenefit {
        padding-top: 3.4rem;
        padding-right: 1.3rem;
        padding-bottom: 1rem;
    }
}

.cover__bottomtext {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    text-align: center;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .cover__bottomtext {
        font-size: 1.75rem;
        row-gap: 1.26rem;
    }
}

.cover__bottomtext p {
    padding: .2rem .7rem;
    border: 1px solid #fff;
}

@media (min-width: 768px) {
    .cover__bottomtext p {
        padding: .83rem 7.9rem;
    }
}

@media (min-width: 768px) {
    .cover__bottomtext .cover__text-second {
        padding-right: 7.5rem;
    }
}

@media (min-width: 768px) {
    .cover__text-second .second__last {
        margin-right: .15rem;
    }
}

@media (min-width: 768px) {
    .third__last {
        margin-left: -.3rem;
    }
}

.cover__bottom-flex {
    background-color: #fffedd;
}

@media (min-width: 768px) {
    .cover__bottom {
        margin: 0 auto;
        max-width: 34.375rem;
        padding-top: 0;
        margin-bottom: 2.6rem;
    }
}

.cover__bottom-top {
    position: relative;
    text-align: center;
    padding-top: 1.2rem;
    padding-left: .2rem;
    font-size: 1.3125rem;
}

@media (min-width: 768px) {
    .cover__bottom-top {
        padding-top: 4.9rem;
        font-size: 2.125rem;
    }
}

@media (min-width:768px) {
    .cover__bottom-topsymbol {
        padding-left: .7rem;
    }
}

.cover__bottom-top::before {
    right: calc(50.7% + 2rem);
    transform: rotate(60deg);
}

@media (min-width : 768px) {
    .cover__bottom-top::before {
        right: calc(50% + 3.7rem);
    }
}

.cover__bottom-top::after {
    left: calc(51.3% + 2rem);
    transform: rotate(-60deg);
}

@media (min-width : 768px) {
    .cover__bottom-top::after {
        left: calc(50% + 3.9rem);
    }
}

.cover__bottom-top::before,
.cover__bottom-top::after {
    position: absolute;
    top: 70%;
    width: 1.7rem;
    height: .15rem;
    content: "";
    background-color: #fa7da3;
}

@media (min-width: 768px) {

    .cover__bottom-top::before,
    .cover__bottom-top::after {
        width: 2.8rem;
        height: .25rem;
        top: 81%;
    }
}

.cover__bottom-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: .75rem;
    padding-inline: 1.2rem;
    padding-left: 1.3rem;
}

@media (min-width: 768px) {
    .cover__bottom-text {
        padding-top: 1.05rem;
        padding-inline: 0;
        padding-left: .1rem;
    }
}

.cover__bottom-maintext {
    font-size: 1.3125rem;
    line-height: 1.35;
    padding-right: .1rem;
    padding-bottom: .15rem;
    border-radius: .6rem .6rem 0 0;
    background: #fa7da3;
    color: #fff;
}

@media (min-width: 768px) {
    .cover__bottom-maintext {
        padding-right: .3rem;
        padding-bottom: .3rem;
        font-size: 2rem;
    }
}

.cover__bottom-subtext {
    line-height: 1.3;
    padding-left: .7rem;
    padding-bottom: .35rem;
    border: 1px solid #fa7da3;
    border-radius: 0 0 .6rem .6rem;
    background-color: #fff;
    font-size: 1.6875rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .cover__bottom-subtext {
        padding-left: 1.2rem;
        padding-bottom: .75rem;
        font-size: 2.7294rem;
        background-color: #fff;
    }
}

.cover__bottom-subtext::first-letter {
    font-size: 2.625rem;
}

@media (min-width: 768px) {
    .cover__bottom-subtext::first-letter {
        font-size: 4.2456rem;
    }
}

.cover__bottom-detail {
    display: flex;
    justify-content: center;
    font-size: .625rem;
    letter-spacing: .01em;
    padding-top: .5rem;
    padding-right: .05rem;
    padding-bottom: 1rem;
    color: #333;
}

@media (min-width: 768px) {
    .cover__bottom-detail {
        letter-spacing: .005em;
        padding-top: 1rem;
        padding-right: .2rem;
        padding-bottom: 1.5rem;
        font-size: .875rem;
    }
}

/* point */

.point {
    margin-top: 2.3rem;
    padding-top: 1rem;
    padding-inline: .23rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .point {
        margin-top: 3.6rem;
        padding-bottom: 2.8rem;
    }
}

.point .container {
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .point .container {
        max-width: 50.7rem;
        margin: 0 auto;
    }
}

.point .section__title {
    padding-top: .7rem;
    padding-bottom: 1.4rem;
}

@media (min-width: 768px) {
    .point .section__title {
        padding-top: 1.6rem;
    }
}

@media (min-width: 768px) {
    .point .section__maintitle img {
        width: 16.5rem;
    }
}

.section__maintext {
    letter-spacing: .03em;
    padding-top: .2rem;
    padding-left: .2rem;
    color: #4d2c1c;
}

@media (min-width: 768px) {
    .section__subtext {
        letter-spacing: 0;
        padding-top: .3rem;
        padding-left: .1rem;
        margin-inline: .4rem;
    }
}

.point__flex {
    display: flex;
    flex-direction: column;
    row-gap: 1.9rem;
}

@media (min-width: 768px) {
    .point__flex {
        padding-top: 1.55rem;
        row-gap: 3.15rem;
    }
}

.point__first,
.point__second,
.point__third {
    background-color: #fff;
}

/* POINT1 */

.point__title {
    font-size: 1.125rem;
    text-align: center;
    padding-top: .6rem;
    padding-bottom: .65rem;
    border-radius: .6rem .6rem 0 0;
    background: #fa7da3;
    color: #fff;
}

@media (min-width: 768px) {
    .point__title {
        padding-top: 1rem;
        padding-right: .3rem;
        padding-bottom: 1.05rem;
        font-size: 1.75rem;
    }
}

.point__course {
    line-height: 1.3;
    padding-bottom: 1.1rem;
    background-color: #fff;
    border: 1px solid #fa7da3;
    border-radius: 0 0 .6rem .6rem;
}

@media (min-width: 768px) {
    .point__course {
        font-size: 2.7294rem;
    }
}

.point__text {
    line-height: 1.49;
    letter-spacing: -.01em;
    padding-top: .95rem;
    padding-left: 1.3rem;
    padding-right: .5rem;
    font-size: .875rem;
    color: #333;
}

@media (min-width: 768px) {
    .point__text {
        letter-spacing: .005em;
        padding-top: 1.6rem;
        padding-left: 2.5rem;
        padding-bottom: .9rem;
        font-size: 1.3125rem;
    }
}

.point__text-mark {
    margin-right: -.5rem;
}

@media (min-width: 768px) {
    .point__text-mark {
        margin-right: 0;
    }
}

.point__image {
    width: 100%;
    max-width: 24.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: .8rem;
    gap: 1.44rem;
}

@media (min-width: 768px) {
    .point__image {
        max-width: 60rem;
        display: flex;
        justify-content: center;
        gap: 2.6rem;
        padding-right: .2rem;
        padding-bottom: 1.2rem;
    }
}

.point__image-left img {
    width: 8.8rem;
    padding: 1.35rem 2rem 1.3rem 2.3rem;
    margin-left: 1.35rem;
    border: 1px solid #fa7da3;
}

@media (min-width: 768px) {
    .point__image-left img {
        width: 14.5rem;
        margin-left: 0;
        padding: 1.95rem 3.4rem 2.2rem 3.6rem;
    }
}

.point__image-logo {
    text-align: center;
    letter-spacing: .07em;
    padding: 1.85rem 2.2rem 1.8rem 2.2rem;
    font-size: 1.125rem;
    color: #433e3f;
    background-color: #fdf0f5;
    border: 1px solid #4d2c1c;
}

@media (min-width: 768px) {
    .point__image-logo {
        letter-spacing: .05em;
        padding: 2.7rem 3.4rem 3.3rem 3.8rem;
        font-size: 1.8144rem;
    }
}

.point__image-content {
    padding-top: .4rem;
    text-align: center;
    font-size: .875rem;
    color: #333;
}

@media (min-width: 768px) {
    .point__image-content {
        font-size: 1.3125rem;
    }
}

.content__left {
    padding-left: 1.3rem;
}

@media (min-width: 768px) {
    .content__left {
        padding-top: .7rem;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .content__right {
        padding-top: .65rem;
        padding-left: .3rem;
        padding-right: .2rem;
    }
}

/* POINT2 */

.point__second .point__maintitle {
    padding-top: .1rem;
    padding-left: .2rem;
}

@media (min-width: 768px) {
    .point__second .point__maintitle {
        padding-top: 0;
    }
}

.point__second .point__text {
    line-height: 1.4;
    letter-spacing: 0;
    padding-right: .5rem;
}

@media (min-width: 768px) {
    .point__second .point__text {
        line-height: 1.55;
        padding-right: 1.7rem;
    }
}

.point__subtitle-text {
    text-align: center;
    padding-top: .8rem;
    padding-bottom: 1.55rem;
    font-size: 1.4375rem;
    font-weight: 600;
    color: #4d2c1c;
}

@media (min-width: 768px) {
    .point__subtitle-text {
        padding-top: .15rem;
        line-height: 1;
        font-size: 1.5rem;
    }
}

.point__body-image {
    display: flex;
    justify-content: center;
    padding-left: .2rem;
}

@media (min-width: 768px) {
    .point__body-image {
        padding-left: 1.6rem;
    }
}

.point__bottom-subtitle {
    text-align: center;
    padding-top: .7rem;
}

.parts__title {
    padding-top: 2.1rem;
    padding-left: .1rem;
}

@media (min-width: 768px) {
    .parts__title {
        letter-spacing: .01em;
        padding-top: 3.5rem;
    }
}

.point__bodyparts-images {
    width: 100%;
    max-width: 24.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .7rem;
    padding-top: .1rem;
    padding-inline: .5rem;
    padding-left: .8rem;
}

@media (min-width: 768px) {
    .point__bodyparts-images {
        max-width: 70rem;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: .75rem;
        padding-top: .5rem;
    }
}

.point__parts {
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .5rem;
    font-size: .875rem;
}

@media (min-width: 768px) {
    .point__parts {
        padding-bottom: 1rem;
    }
}

.point__bodyparts-images .point__bodyparts-image:nth-child(4) .point__parts,
.point__bodyparts-images .point__bodyparts-image:nth-child(5) .point__parts,
.point__bodyparts-images .point__bodyparts-image:nth-child(6) .point__parts {
    padding-bottom: .1rem;
}

/* POINT3 */

.point__third .point__title {
    padding-bottom: .4rem;
}

@media (min-width: 768px) {
    .point__third .point__title {
        padding-top: .9rem;
        padding-left: .3rem;
        padding-bottom: 1.1rem;
    }
}

.point__third .point__text {
    letter-spacing: .005em;
    padding-top: 1rem;
    padding-right: .35rem;
}

@media (min-width: 768px) {
    .point__third .point__text {
        padding-top: 1.7rem;
        padding-bottom: .8rem;
    }
}

.section__bottom.point__bottom {
    padding-top: 1.45rem;
    padding-inline: 1.25rem;
    padding-bottom: .61rem;
}

@media (min-width: 768px) {
    .section__bottom.point__bottom {
        padding-top: 3.1rem;
        padding-inline: 2.1rem;
    }
}

@media (min-width: 768px) {
    .point__bottom-title {
        padding-bottom: .4rem;
    }
}

@media (min-width: 768px) {
    .point__button {
        line-height: 1.23;
        padding-bottom: .3rem;
        padding-right: .1rem;
    }
}

/* anothercourse */

.anotherpoint {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .anotherpoint {
        width: 100%;
        margin: 0 auto;
        max-width: 48rem;
    }
}

.anotherpoint .section__maintitle {
    padding-left: .3rem;
}

@media (min-width: 768px) {
    .anotherpoint .section__maintitle {
        padding-top: 1.7rem;
        font-size: 1.5rem;
    }
}

.anotherpoint .section__subtitle {
    padding-top: .2rem;
    margin-inline: .4rem;
    letter-spacing: .02em;
}

@media (min-width: 768px) {
    .anotherpoint .section__subtitle {
        padding-top: .25rem;
        padding-bottom: .05rem;
        margin-inline: .7rem;
    }
}

.anotherpoint__course {
    display: flex;
    flex-direction: column;
    row-gap: 1.95rem;
    padding-top: 1.4rem;
    padding-left: .3rem;
    padding-right: .2rem;
}

@media (min-width: 768px) {
    .anotherpoint__course {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 2.4rem;
        padding-left: .1rem;
    }
}

.anotherpoint__course-box {
    border: 1px solid #fa7da3;
    border-radius: .6rem;
}

.anotherpoint__course-title {
    border-radius: .6rem .6rem 0 0;
    background: #fdf0f5;
}

.anotherpoint__course-maintitle {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .7rem;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .anotherpoint__course-maintitle {
        padding-top: .6rem;
        padding-left: .3rem;
        letter-spacing: .01em;
        font-size: 1.75rem;
    }
}

.anotherpoint__course-content {
    width: 100%;
    max-width: 24.375rem;
    margin: 0 auto;
    padding: 1rem 1.1rem 1.2rem 1.2rem;
}

@media (min-width: 768px) {
    .anotherpoint__course-content {
        max-width: 60rem;
        padding: .5rem 1.2rem 1.1rem 1.3rem;
    }
}

.anotherpoint__course-text {
    letter-spacing: .01em;
    line-height: 1.4;
    padding-bottom: .8rem;
    font-size: .875rem;
    color: #333;
}

@media (min-width: 768px) {
    .anotherpoint__course-text {
        line-height: 1.45;
        font-size: 1.125rem;
    }
}

@media(min-width: 768px) {
    .face__content {
        padding: .4rem 0 0 .1rem;
        line-break: anywhere;

    }
}

@media(min-width: 768px) {
    .face__content img {
        padding-left: 1.2rem;
    }
}


@media(min-width: 768px) {
    .face__text {
        padding-left: 1.2rem;
        padding-right: .2rem;
        line-height: 1.55;
    }
}

/* voices */

@media (min-width: 768px) {
    .voices .section__maintitle img {
        width: 3rem;
    }
}

.voices {
    padding-bottom: 1.3rem;
    background-color: #fdf0f5;
}

@media (min-width: 768px) {
    .voices {
        padding-inline: 1rem;
        padding-bottom: 0;
        margin-top: 2.7rem;
    }
}

.voices .container {
    padding-inline: 0;
    padding-top: 1.1rem;
}

@media (min-width: 768px) {
    .voices .container {
        max-width: 70.5rem;
        padding-top: 1.9rem;
        padding-bottom: 3.5rem;
    }
}

.voices .section__subtitle {
    letter-spacing: .01em;
    margin-left: .95rem;
    margin-right: .95rem;
}

@media (min-width: 768px) {
    .voices .section__subtitle {
        padding-bottom: .8rem;
        margin-inline: 1.5rem;
    }
}

.voices .section__maintitle picture {
    padding-top: .4rem;
}

.voices__slider-wrapper {
    position: relative;
    width: 100%;
    padding: 1.15rem 0 0 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .voices__slider-wrapper {
        max-width: 70.5rem;
    }
}

@media (min-width: 768px) {
    .voices__slick {
        background: none;
        padding: .3rem 0 0 0;
    }
}

.voices .slick-initialized .slick-slide {
    display: flex !important;
}

.voices .slick-initialized .slick-slide>div {
    width: 100%;
}

/* カード */
.voices__slick-item {
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border: 1px solid #fa7da3;
    border-radius: .7rem;
    box-sizing: border-box;
    margin: 0 .5rem;
    overflow: hidden;
    padding: 3.6rem .4rem 1.1rem;
}

@media (min-width: 768px) {
    .voices__slick-item {
        margin: 0 .5rem;
        padding: 4.3rem 0 .3rem;
    }
}

.voices__slick-item::before {
    content: "脱毛コース";
    position: absolute;
    top: 0;
    left: 0;
    right: -.35rem;
    height: 2.85rem;
    background: #fa7da3;
    color: #fff;
    font-weight: 700;
    font-size: 1.1256rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .04em;
}

@media (min-width: 768px) {
    .voices__slick-item::before {
        right: 0;
        top: -.1rem;
    }
}

.voices__slick-item:nth-child(1)::before {
    content: "フェイシャルコース";
}

.voices__slick-item:nth-child(2)::before {
    content: "脱毛コース";
}

.voices__slick-item:nth-child(3)::before {
    content: "ボディコース";
}

.voices__slick-item picture {
    display: block;
    flex: 0 0 5.7rem;
}

@media (min-width: 768px) {
    .voices__slick-item picture {
        flex: 0 0 5.7rem;
    }
}

.voices__slick-item picture img {
    display: block;
    margin: 0 .8rem;
}

@media (min-width: 768px) {
    .voices__slick-item picture img {
        margin: 0 1.4rem;
        margin-top:-1rem;
    }
}

.voices__slick-person {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .68rem;
    line-height: 1.3;
    letter-spacing: .015em;
    margin-top: .4rem;
    margin-left: 1.2rem;
    font-size: .8756rem;
}

@media (min-width: 768px) {
    .voices__slick-person {
        margin-top: 0;
        margin-left: 1.6rem;
        gap: .43rem;
    }
}

.voices__slick-name {
    line-height: 1;
    margin-left: .2rem;
    margin-bottom: 0;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .voices__slick-name {
        line-height: .5;
    }
}

.voices__slick-comment {
    line-height: 1.45;
    margin-left: .2rem;
    font-size: .8756rem;
    color: #333;
}

@media (min-width: 768px) {
    .voices__slick-comment {
        font-size: .8756rem;
        letter-spacing: 0;
        line-height: 1.5;
        margin-left: 0;
        padding: .4rem 1.2rem .3rem .2rem;
    }
}

.section__bottom.voices__bottom {
    padding-top: 1.6rem;
}

@media (min-width: 768px) {
    .section__bottom.voices__bottom {
        padding-top: 3.28rem;
    }
}

@media (min-width: 768px) {
    .voices__bottom-title {
        padding-top: 0rem;
        padding-left: .75rem;
        padding-bottom: .2rem;
    }
}

@media (min-width: 768px) {
    .voices__bottom-button {
        margin-top: 0;
    }
}

/* footer */

.footer {
    position: relative;
    margin-top: 2.65rem;
    background-color: #fa7da3;
    color: #fff;
}

@media(min-width:768px) {
    .footer {
        margin-top: 4.1rem;
        padding-inline: 1rem;
        padding-bottom: 1.4rem;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: .85rem;
    padding-bottom: .7rem;
}

@media(min-width:768px) {
    .footer__logo {
        margin: 0;
        padding: 0;
        display: flex;
        padding-top: 1.7rem;
        padding-left: .1rem;
    }
}

@media(min-width:768px) {
    .footer__logo img {
        width: 9rem;
    }
}